<h1>All Directors</h1>

<div id="directors">
  <% @directors.each do |d| %>
    <h1><%= d.name %></h1>
    <% d.films.each do |film| %>
      <h3><%= film.title %></h3>
    <% end %>
  <% end %>
</div>
